@media only screen and (min-width:768px){
* {
  margin: 0;
  padding: 0;
}

.row {
  position: relative;
}

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

 .right{
  float: right;
 }
 .intro .content{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
 }
 /*.themes .content{
  padding-top: 10%;
 }*/

.stickit {
  margin-left: 50%;
  position: fixed;
  top: 0;
}

.stickit-end {
  bottom: 1px;
  position: absolute;
  right: 0;
}
.aside_left.stickit {
  margin-left: 0%;
}
.aside_left.stickit-end{
  right:50%;
}
.stickem img {
  object-fit: cover;
  width: 50vw;
  height: calc(100vh - 1px);
}
.connect_img img{
  object-fit: cover;
  width: 50vw;
  height: 100vh;
}
/*  block design*/

.block_of-level2-links{
  padding: 30px 130px 45px 130px;
}
.link_to-level2{
  height: 200px;
   margin-bottom: 52px;
}
.theme_picture{
  height: 130px;
  width: 180px;
  float: right;
}
.level2_title{
  font-size: 1.2em;
  font-family:'BrandonGrotesque-Black';
  letter-spacing: 3px;
  text-align: left;
  float: left;
  margin-top: -13px;
  line-height: 1.2em;
}
.black_line {
  width: 62px;
  padding-bottom: 5px;
}
.back_square {
  height: 185px;
  width: 230px;
  z-index: -1;
  position: absolute;
 left: 150px;
 margin-top: -30px;
}
#square{
top:initial;
left: initial;
  margin: 12%0 0 9%;
  width: 31%;
}
#circle{
top:initial;
left: initial;
margin: 12%0 0 3%;
width: 38%;
}
.content-padding{
    min-height: 100vh;
  padding-top: 20%;
}
}
