body{background-color:#f6f3f0;margin:0;color:#595a5a;height:100%;text-align:center;font-family:'BrandonGrotesque-Regular', Arial, sans-serif;font-size:16px;}
a{text-decoration:none;color:#595a5a;}
a:active,a:hover,a:focus{text-decoration:none;outline:none;color:#595a5a;}
.btn-primary:active:hover, .btn-primary:active.focus{text-decoration:none;outline:none;box-shadow:0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);background-color:#dfeae1;}
.btn-primary:focus{outline:none;}
ul{list-style:none;}
.break{display:block;margin-top:23px;content:" ";}
section{height:100%;height:100vh;}
.padding-0{padding:0;}
.margin-0{margin:0;}
.color-green{background-color:#dfeae1;}
.color-dark-green{background-color: #d5e2d6;}
.color-white{background-color:#fff;}
.color-grey{background-color:#f6f3f0;}
.color-red{color:#a55f60;}
.color-red-underline{color:#ba8e8c;}
.page-heading{padding-top:10%;color:#a55f60;padding-bottom:10%;}
#nav-toggle{cursor:pointer;padding:10px 35px 16px 0px;z-index:1000;position:fixed;top:20px;left:15px;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{cursor:pointer;border-radius:1px;height:3px;width:30px;background:#595a5a;position:absolute;display:block;content:'';}
#nav-toggle span:before{top:-10px;}
#nav-toggle span:after{bottom:-10px;}
#nav-toggle.closer span:before{top:-7px;}
#nav-toggle.closer span:after{bottom:-7px;}
#nav-toggle.closer span:before, #nav-toggle.closer span:after{-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-o-transition:all 100ms ease;-ms-transition:all 100ms ease;transition:all 100ms ease;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out;}
#nav-toggle.active span{background-color:transparent;}
#nav-toggle.active span:before, #nav-toggle.active span:after{top:0;}
#nav-toggle.active span:before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);background:#cccbc5;}
#nav-toggle.active span:after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);background:#cccbc5;}
#nav-toggle.active:hover span:before{background:#a55f60;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease;}
#nav-toggle.active:hover span:after{background:#a55f60;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;-ms-transition:all 0.5s ease;transition:all 0.5s ease;}
.sidenav{display:table;visibility:hidden;height:100%;width:0;position:fixed;z-index:998;top:0;background-color:#EEEAE6;overflow:hidden;-webkit-transition:all 0.5s ease-in;-moz-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;-ms-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
.sidenav-side{visibility:hidden;height:100%;width:0;position:fixed;z-index:999;top:0;left:49%;background-color:#EEEAE6;overflow:hidden;-webkit-transition:all 0.1s ease-in;-moz-transition:all 0.1s ease-in;-o-transition:all 0.1s ease-in;-ms-transition:all 0.1s ease-in;transition:all 0.1s ease-in;}
.sidenav-links{display:table-cell;vertical-align:middle;font-family:'BrandonGrotesque-Bold';letter-spacing:1.5px;text-align:center;}
.sidenav a{color:#cccbc5;display:inline-block;padding-bottom:20px;padding-top:20px;opacity:0;-webkit-transition:opacity 0.2s ease-in;-moz-transition:opacity 0.2s ease-in;-o-transition:opacity 0.2s ease-in;-ms-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;}
.sidenav a:after{content:'';display:block;height:3px;width:0;background:transparent;-webkit-transition:width .8s ease, background-color .5s ease;-moz-transition:width .8s ease, background-color .5s ease;-o-transition:width .8s ease, background-color .5s ease;-ms-transition:width .8s ease, background-color .5s ease;transition:width .8s ease, background-color .5s ease;}
.sidenav a:hover{color:#a55f60;}
.sidenav .active{color:#a55f60;}
.sidenav .select-submenu:after{content:'';display:block;height:3px;width:100%;background:#a55f60;-webkit-transition:width .8s ease, background-color .5s ease;-moz-transition:width .8s ease, background-color .5s ease;-o-transition:width .8s ease, background-color .5s ease;-ms-transition:width .8s ease, background-color .5s ease;transition:width .8s ease, background-color .5s ease;}
.sidenav a:hover:after{width:100%;background:#a55f60;}
.submenu{padding-right:80px;padding-left:0;left:0;width:100vh;height:60px;border-bottom:1px solid #cccbc5;display:flex;justify-content:space-around;flex-direction:row-reverse;position:fixed;-webkit-transform-origin:left top;-webkit-transform:rotate(-90deg) translateX(-100%);}
#mySidenavMenu .submenu{border:none;position:absolute;padding:0px;min-width:100vh;height:45px;-webkit-transform-origin:left top;-webkit-transform:rotate(-90deg) translateX(-100%);}
#mySidenavMenu .submenu ul{padding:0px;width:100vh;display:flex;justify-content:center;flex-direction:row-reverse;}
#contact_id .submenu{border:none;}
.intro-left-v{line-height:59px;display:block;}
.page_id .intro-left-v{flex-grow:1;}
.border_link{color:#cccbc5;font-family:'BrandonGrotesque-Bold';font-size:10px;letter-spacing:2px;opacity:0;-webkit-transition:opacity 0.2s ease-in;-moz-transition:opacity 0.2s ease-in;-o-transition:opacity 0.2s ease-in;-ms-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;display:block;}
.intro-left-v:hover a{color:#a55f60;}
.rotated-links{color:#cccbc5;font-family:'BrandonGrotesque-Bold';font-size:10px;letter-spacing:1px;-webkit-transition:opacity 0.2s ease-in;-moz-transition:opacity 0.2s ease-in;-o-transition:opacity 0.2s ease-in;-ms-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in;display:block;}
.border_link.active_on, .rotated-links.active{color:#a55f60;background-color:#dfeae1;}
#mySidenavMenu .submenu .border-text{padding-left:20px;padding-right:20px;}
.header-lang{position:fixed;top:20px;right:30px;margin-bottom:0;z-index:2;}
.header-lang-item{float:left;padding-right:0px;padding-left:0px;}
.header-lang-link{display:block;width:30px;height:30px;line-height:2.5em;text-transform:uppercase;border:1px solid #5a5b5b;margin-right:-1px;margin-top:-1px;font-size:12px;}
.header-lang-link.active{color:#595a5a;border:0px solid #595a5a;font-family:'BrandonGrotesque-Bold';}
.header-lang-text{display:block;text-align:center;}
.header-lang-text:hover,.header-lang-text:active{font-family:'BrandonGrotesque-Bold';}
.border, .border-fixed{font-family:'BrandonGrotesque-Regular';font-size:11px;}
.border-fixed{position:fixed;}
.mobile-content{min-height:50%;min-height:50vh;}
.home-logo{padding-bottom:10%;padding-left:7%;}
.home-intro{margin-top:5%;}
.home-arrow{height:auto;width:auto;}
.home-arrow:hover{cursor:pointer;}
.home-text{font-family:'BrandonGrotesque-Light';font-size:20px;}
.carousel-inner>.carousel-item>img{object-fit:cover;width:100vw;height:50vh;}
.about-china-img{background:url('../home-images/crossing_culture_home.jpg') no-repeat center center;background-repeat:no-repeat;background-size:cover;}
.our-work-img{background:url('../home-images/our_work_home.jpg') no-repeat center center;background-repeat:no-repeat;background-size:cover;}
.about-us-img{background:url('../home-images/about_us_home.jpg') no-repeat center center;background-repeat:no-repeat;background-size:cover;}
.why-us-img{background:url('../home-images/why_us_home.jpg') no-repeat center center;background-repeat:no-repeat;background-size:cover;}
.intro-column{margin:20% 15% 0 15%;}
.intro-title{font-size:16px;margin:50px 0 50px 20px;font-family:'BrandonGrotesque-Bold';}
.intro-content{position:relative;z-index:1;font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:1px;line-height:20px;margin-top:50px;}
/*.intro-img{width:80%;height:auto;padding-top:5%;padding-bottom:5%;}*/
.intro_more{font-size:10px;letter-spacing:2px;font-family:'BrandonGrotesque-Regular';}
.intro_more:after{content:'';display:block;height:1px;width:0;background:transparent;-webkit-transition:width .8s ease, background-color .5s ease;-moz-transition:width .8s ease, background-color .5s ease;-o-transition:width .8s ease, background-color .5s ease;-ms-transition:width .8s ease, background-color .5s ease;transition:width .8s ease, background-color .5s ease;}
.intro_more:hover:after{width:22%;background:#a55f60;}
.title-img{position:relative;width:50%;right:25%;top:50%;}
.citate{font-size:18px;font-family:'BrandonGrotesque-Regular';}
.citated{color:#a55f60;font-size:13px;}
.font-bold{font-family:'BrandonGrotesque-Bold';}
.side-border{height:100%;height:100vh;width:95px;position:fixed;z-index:99;right:0px;display:flex;align-items:flex-end;justify-content:space-around;}
.logo-white-round img{width:60%;margin-bottom:30px;}
.page_id .section{padding-top:70px;line-height:1.1;}
.section{text-align:left;}
.level2-main-title{font-family:'BrandonGrotesque-Bold';margin-bottom:0px;color:#a55f60;font-size:45px;letter-spacing:3px;text-transform:uppercase;line-height:43px;}
.level2-titles-box-margin{margin-bottom:50px;}
.level2-titles-box{margin:30px 0 20px 0;}
.level2-titles-box-padding{margin:36px 0 94px 0;}
.level2-titles-box-line{position:absolute;height:auto;width:127px;}
.level2-titles-box-pic,
.level2-titles-box-pic-bigger{position:absolute;z-index:-1;width:337px;height:auto;margin-left:64px;margin-top:29px;}
.level2-titles-box-pic-bigger{width:400px;height:490px;}
.level2-titles-box-pic-square{width:80%;height:295px;position:absolute;z-index:-1;margin-left:64px;margin-top:29px;}
#values_id .level2-titles-box-pic-square,
#nameandlogo_id .level2-titles-box-pic-square,
#experiance_id .level2-titles-box-pic-square{width:55%;height:310px;margin-left:55px;}
#values_id .mission_section .level2-titles-box-pic-square{height:272px;}
#values_id .values_section .level2-titles-box-pic-square{height:250px;}
.level2-titles-box-founder{position:absolute;z-index:-2;width:634px;height:auto;margin-left:250px;margin-top:2px;}
.level2-titles{font-family:'BrandonGrotesque-Bold';font-size:35px;letter-spacing:2px;padding-top:45px;}
.founder-content, .name_content,
.our_guanxi-content, .experience_litao-content{font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;text-align:justify;line-height:1.5;padding-bottom:40px;max-width:400px;}
.founder-content b, .our_guanxi-content b,
.experience_litao-content b{font-family:'BrandonGrotesque-Regular';letter-spacing:0.05em;}
#founder h4{line-height:1.2;}
#founder p.lead, #values p.lead,
#nameandlogo p.lead{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:29px;max-width:500px;margin-bottom:34px;line-height:1.2;margin-bottom:25px;}
.founder-kid,
.founder-expo, .founder-sitting,
.girls-game,
.founder-background-city{padding-bottom:40px;}
.founder-sitting{max-width:82%;}
.founder-background-city{max-width:78%;top:-55px;position:relative;}
.green-square{position:absolute;z-index:-2;width:500px;height:500px;left:50%;margin-left:-275px;margin-top:-168px;}
.green-square2{position:absolute;z-index:-2;width:500px;left:50%;margin-left:-250px;margin-top:-30px;}
.calendar-date{height:110px;margin-bottom:17px;}
.calendar-pic{position:absolute;z-index:-1;height:81px;width:auto;padding-left:25px;}
.dot{position:absolute;}
.date ,.title-date{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:22px;letter-spacing:0.09em;display:inline-block;margin-top:36px;margin-left:4px;}
.title-date{margin-top:-8px;}
.side-text-padding{padding-top:45px;}
.side-text-padding-2{padding-top:45px;}
.team-picture{position:relative;width:100%;height:auto;z-index:-2;}
#team p.lead{font-family:'BrandonGrotesque-Bold';font-size:22px;font-size:20px;max-width:350px;line-height:1.3;margin-bottom:25px;letter-spacing:0.06em;}
.first_member-section{margin-top:50px;margin-bottom:40px;}
.member-section{margin-top:80px;}
.team-member-picture{width:360px;height:auto;border:none;}
.team_green-square{position:absolute;z-index:-1;width:220px;height:180px;margin-top:-20px;margin-left:35px;}
.first-letter-b{font-family:'BrandonGrotesque-Bold';}
.member_name{font-family:'BrandonGrotesque-Bold';font-size:24px;color:#a55f60;letter-spacing:0.06em;margin-bottom:48px;}
.member_role{font-family:'BrandonGrotesque-Bold';letter-spacing:0.06em;margin-bottom:30px;}
.member_link-linkedin a, .member_timeline a, .member_link-website a{font-family:'BrandonGrotesque-Bold';font-size:14px;color:#a55f60;}
.member_bio{margin-top:38px;max-width:370px;font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;line-height:1.5;margin-bottom:25px;text-align:justify;}
#values{}
.values_section-margin{margin-top:50px;margin-bottom:70px;}
.values_compassion-section-margin{margin-top:100px;margin-bottom:100px;}
.values_picture{position:relative;width:350px;height:auto;margin-top:20px;z-index:-2;}
#values p.title{font-family:'BrandonGrotesque-Bold';color:#595a5a;font-size:22px;line-height:1.3;margin-bottom:45px;letter-spacing:0.06em;}
#values p.title_lead{line-height:1.5;margin-bottom:23px;letter-spacing:0.05em;max-width:304px;}
.values_green-circle{position:absolute;z-index:-2;width:190px;margin-top:-165px;}
.values_picture-compassion{width:100%;max-width:400px;height:auto;z-index:-2;padding-right: 30px;}
.values_picture-fluency{width:360px;height:auto;z-index:-2;}
.values_picture-approach{width:360px;height:auto;z-index:-2;left:0;margin-top:-40px;}
.values_picture-hands-on{width:360px;height:auto;z-index:-2;right:0;}
.mission_level2-titles-box, .vision_level2-titles-box{margin:0 0 94px 0;}
.mission_lead{font-family:'BrandonGrotesque-Bold';letter-spacing:0.06em;margin-top:32px;margin-bottom:24px;line-height:1.5;max-width:300px;}
.mission_picture{width:350px;height:auto;z-index:-2;margin-top:26px;}
.mission_section .founder-content{padding-bottom:0px;}
.vision_picture{width:360px;height:auto;z-index:-2;margin-top:175px;}
#nameandlogo{}
.nameandlogo_picture{width:100%;margin-top:70px;margin-bottom:45px;}
#nameandlogo p.title, #nameandlogo p.title.second{font-family:'BrandonGrotesque-Bold';color:#595a5a;font-size:22px;line-height:1.25;margin-bottom:34px;letter-spacing:0.06em;max-width:301px;}
#nameandlogo p.title.second{max-width:318px;}
#nameandlogo p.title_lead{font-family:'BrandonGrotesque-Bold';line-height:1.5;margin-bottom:22px;letter-spacing:0.05em;}
#nameandlogo .name_content{padding-bottom:20px;}
#nameandlogo .name_content b{font-family:'BrandonGrotesque-Regular';}
#nameandlogo .name_explanation{font-family:'BrandonGrotesque-Bold';line-height:1.7;}
.name_square{width:350px;height:160px;position:absolute;z-index:-1;margin-left:-20px;margin-top:-10px;padding-bottom:15px;}
.name_logo-gif{width:100%;margin-top:30px;margin-bottom:50px;}
#experience_litao{}
#experience_litao .main-image{width:100%;max-width:350px;height:auto;position:absolute;z-index:-1;margin-top:-70px;}
#experience_litao .content-image{width:350px;height:auto;z-index:-1;margin-top:-120px;margin-bottom:68px;}
.experience_litao-intro-margin{margin-top:105px;}
.add_padding{padding-top:75px;}
#experience_litao .title{font-family:'BrandonGrotesque-Bold';font-size:22px;letter-spacing:0.05em;}
#experience_litao .level2-titles-box{margin-top:60px;}
.experience_litao-list, .experience_litao-content_break{font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;text-align:justify;line-height:1.5;max-width:370px;}
.experience_litao-list{list-style:disc;color:#a55f60;}
.experience_litao-list span{color:#595a5a;letter-spacing:0.1em;}
#our_guanxi{}
#our_guanxi .main-image{width:85%;margin-right:20px;height:auto;z-index:-1;float:right;}
#our_guanxi .level2-titles-box-pic-square{width:770px;height:1100px;max-width:inherit;}
.guanxi-explanation{padding-top:40px;font-family:'BrandonGrotesque-LightItalic';color:#595a5a;letter-spacing:0.05em;font-size:15px;padding-bottom:40px;}
.guanxi_noun{}
.text-reference{font-size:14px;letter-spacing:0.03em;}
#our_guanxi p.title{font-family:'BrandonGrotesque-Bold';color:#595a5a;font-size:26px;line-height:1.2;margin-bottom:2px;letter-spacing:0.04em;}
#our_guanxi .dummy{border:1px solid black;width:100px;height:100px;margin-top:20px;margin-bottom:20px;}
.company-grid{padding-left:75px;padding-right:86px;padding-bottom:105px;padding-top:20px;}
#our_guanxi .card{background:none;border:none;max-width:160px;height:180px;text-align:center;}
#our_guanxi .card-img-top{max-height:80px;}
#our_guanxi .card-block{font-family:"BrandonGrotesque-Regular";font-size:10px;letter-spacing:0.05em;padding-left:0px;padding-right:0px;}
#our_guanxi .card-title{font-family:"BrandonGrotesque-Black";margin-bottom:5px;}
.background_green_box{position:absolute;margin-left:60px;z-index:-1;width:80%;height:auto;top:165px;bottom:0;}
.publication{margin-top:20px;margin-bottom:45px;}
.publication-intro-margin{margin-top:105px;}
.publication-intro-content{font-family:'BrandonGrotesque-Bold';font-size:18px;letter-spacing:0.06em;text-align:justify;line-height:1.3;padding-bottom:40px;max-width:400px;}
.publication_title h4{font-family:"BrandonGrotesque-Regular";font-weight:bold;font-size:1.4rem;color:#a55f60;letter-spacing:0.07em;padding-bottom:20px;line-height: 1.5}
.publication_subtitle h5{padding-left:250px;padding-bottom:15px;font-size:1.1rem;font-family:"BrandonGrotesque-Bold";letter-spacing:0.05em;}
.publication_image{float:left;}
.publication_image img{display:block;width:150px;height:150px;background-color:#dfeae1;}
.publication_content{border-style:dotted;border-color:black;border-width:1px;padding-top:20px;padding-bottom:30px;border-left:none;border-right:none;position:relative;}
.publication_content p{font-family:"BrandonGrotesque-Light";letter-spacing:0.07em;text-align:justify;line-height:1.5;}
.clearfix::after{content:"";clear:both;display:table}
.publication_link{padding-top:5px;margin-left:250px;}
.publication_link a{font-family:'BrandonGrotesque-Bold';color:#63a26f;font-size:14px;}
.publication_date{position:absolute;bottom:5px;right:0;color:#a55f60;font-family:'BrandonGrotesque-BoldItalic';font-size:14px;letter-spacing:0.05em;}
#services .level2-titles-box-margin{margin-bottom:35px;}
#services .level2-titles-box{margin-bottom:20px;margin-top:93px;}
#services .main-image{border:1px solid black;width:350px;height:380px;position:absolute;z-index:-1;margin-top:-70px;}
#services p.lead{font-family:'BrandonGrotesque-Bold';font-size:28px;max-width:357px;line-height:1.2;margin-bottom:25px;letter-spacing:0.02em;}
#services .content{font-family:"BrandonGrotesque-Light";letter-spacing:0.03em;text-align:justify;margin-right:50px;max-width:356px;line-height:1.5;margin-bottom:70px;}
#services .folding-section_content .content{letter-spacing: 0.05rem;}
#services .folding-section_heading{margin-left:92px;margin-right:92px;height:70px;text-align:center;display:flex;align-items:center;flex-direction:row;justify-content:center;}
#services .folding-section{margin-bottom:1px;}
#services .folding-section:hover{cursor:pointer;}
#services .flex-column{align-items:center;flex-direction:column;justify-content:center;margin-right:auto;}
#services .collapsable_plus{margin-right:auto;margin-left:15px;}
#services .collapsable_plus.added:before{content:'-';}
#services .collapsable_plus:before{content:'+';}
#services .folding-section_heading_title{font-size:15px;font-family:'BrandonGrotesque-Bold';letter-spacing:0.09em;word-spacing:5px;margin-bottom:2px;}
#services .folding-section_heading_subtitle{font-size:14px;letter-spacing:0.09em;}
#services .folding-section_content{padding-left:15px;padding-right:15px; margin-bottom: 100px;}
#services .level2-titles-box-pic-square{padding-right: 110px;height: 500px;}
#services .subtitle{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:20px;letter-spacing:0.09em;display:inline-block;margin-top:0;margin-left:4px;}
.services_green-circle{position:absolute;z-index:-2;width:190px;margin-top:-165px;}
#services .content_title-margin{margin-top: 250px;}
#services .content_title{font-family: 'BrandonGrotesque-Bold';color:#a55f60; font-size: 23px; letter-spacing: 0.05rem; line-height: 1.2; margin-bottom: 40px}
#services b{font-family: 'BrandonGrotesque-Regular';letter-spacing:0.05em;}
.services-list{padding-left: 20px;font-family:'BrandonGrotesque-LightItalic';font-size:16px;letter-spacing:0.02em;text-align:justify;line-height:1.5;max-width:370px;list-style: disc;color: #a55f60;}
.services-list span{color:#595a5a;}
.important-list{padding-right: 54px;padding-left: 20px;font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;text-align:justify;line-height:1.5;max-width:370px;list-style: disc;color: #a55f60;}
.important-list span{color:#595a5a;padding-bottom: 60px;
  display: block;}
#services .list-title{display:block;margin-top:100px;margin-bottom: 15px;}
#services h6{margin-top:170px;margin-bottom:38px;font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:22px;letter-spacing:0.09em;}
#services .question-mark{position: absolute;z-index: -1;padding-top: 104px;padding-left: 124px;}
#services .picture{border:black solid 1px; width: 370px;height: 480px;}
.links_to_cases{margin-top: 100px;}
#case_studies .level2-titles-box-margin{margin-bottom:35px;}
#case_studies .level2-titles-box{margin-bottom:20px;margin-top:105px;}
#case_studies .main-image{border:1px solid black;width:350px;height:380px;position:absolute;z-index:-1;margin-top:-70px;}
#case_studies p.lead{font-family:'BrandonGrotesque-Bold';font-size:34px;max-width:360px;line-height:0.99;margin-bottom:35px;letter-spacing:0.04em;}
#case_studies p.sublead{font-family:'BrandonGrotesque-Bold';font-size:22px;max-width:360px;line-height:1.2;margin-bottom:25px;letter-spacing:0.04em;}
#case_studies .content{font-family:"BrandonGrotesque-Light";letter-spacing:0.05em;text-align:justify;margin-left:75px;max-width:575px;line-height:1.5;margin-bottom:70px;}
#case_studies .content b{font-family:"BrandonGrotesque-Regular";}
#case_studies .folding-section_heading{ margin-top: 6px;margin-left:92px;margin-right:92px;height:70px;text-align:center;display:flex;align-items:center;justify-content:center;}
#case_studies .folding-section{margin-bottom:1px;}
#case_studies .folding-section_heading_subtitle:hover{cursor:pointer;}
#case_studies .folding-section_expand_indicator{margin-right:auto;margin-left:10px;margin-top:8px;}
#case_studies .folding-section_heading_title{font-size:15px;font-family:'BrandonGrotesque-Bold';letter-spacing:0.09em;word-spacing:5px;margin-bottom:2px;}
#case_studies .folding-section_heading_subtitle{font-size:14px;font-family:'BrandonGrotesque-Bold';letter-spacing:0.09em;margin-left:92px;margin-right:92px;margin-top: 1px;height:40px;text-align:center;display:flex;align-items:center;justify-content:center;}
#case_studies .folding-section_content{padding-left:15px;padding-right:15px;}
#case_studies .last-content{font-family:'BrandonGrotesque-Bold';font-size:18px;max-width:560px;line-height:1.3;margin-top:55px;letter-spacing:0.06em;padding-left:75px;}
#case_studies  .subtitle{margin-right:auto;}
#case_studies  .collapsable_plus{margin-right:auto;margin-left:15px;}
#case_studies .collapsable_plus.added:before{content:'-';}
#case_studies .collapsable_plus:before{content:'+';}
#raq p.lead{font-family:'BrandonGrotesque-Bold';font-size:23px;max-width:700px;line-height:1.18;margin-bottom:25px;letter-spacing:0.04em;padding-left:75px;text-align:justify;}
#raq .folding-section_heading{margin-left:92px;margin-right:92px;height:68px;text-align:center;display:flex;align-items:center;justify-content:center;}
#raq .folding-section{margin-bottom:1px;}
#raq .folding-section:hover{cursor:pointer;}
#raq .folding-section_expand_indicator{margin-right:auto;margin-left:10px;margin-top:8px;}
#raq .folding-section_heading_title{max-width: 573px;font-size:15px;font-family:'BrandonGrotesque-Bold';letter-spacing:0.09em;word-spacing:1px;margin-bottom:2px;line-height:1.2; margin-right: auto;}
#raq .folding-section_content{margin-left:92px;margin-right:92px;padding-right:10px;padding-top:20px;padding-bottom:100px;font-family:'BrandonGrotesque-Light';letter-spacing:0.07em;word-spacing:1px;text-align:center;line-height:1.5;}
#raq .folding-section_content img{position:absolute;z-index:-1;margin-left:-50px;padding-top:63px;}
#raq .folding-section_content h5{padding-top:130px;padding-bottom:60px;font-family:'BrandonGrotesque-Bold';line-height:1.5;text-align:left;}
#raq .folding-section_content a{font-size:14px;font-family:'BrandonGrotesque-Bold';text-align:left;}
#raq .folding-section_content p{text-align:justify;}
#raq .collapsable_plus{margin-right: auto; margin-left: 20px;}
#raq .collapsable_plus.added:before{content:'-';}
#raq .collapsable_plus:before{content:'+';}
#useful_resources p.title{font-family:'BrandonGrotesque-Bold';font-size:34px;letter-spacing:0.05em;max-width:600px;line-height:0.99;}
#useful_resources p.subtitle{font-family:'BrandonGrotesque-Bold';font-size:22px;letter-spacing:0.06em;max-width:600px;line-height:1.2;text-align:justify;padding-top:8px;}
#useful_resources .collapsable_plus{display: inline-block;width: 100%;}
#useful_resources .collapsable_plus.added:before{content:'-';}
#useful_resources .collapsable_plus:before{content:'+';}
.chapter:hover{cursor: pointer;}
.chapter{border-bottom:1px dotted black;margin-left:92px;margin-right:92px;margin-top:39px;line-height:1.9;padding-bottom:10px;}
.chapter_title{font-family:'BrandonGrotesque-Bold';font-size:22px; letter-spacing: 0.09rem;}
.chapter_link{font-family:'BrandonGrotesque-Bold';letter-spacing:0.1em;}
.chapter_content{border-top: 1px dotted black;padding: 64px 15px 45px 0; letter-spacing: 0.09rem; line-height: 1.5; font-family: 'BrandonGrotesque-Light'}
.btn.sharp{border-radius:0;background-color:#dfeae1;border:0 none;margin-bottom:50px;}
.contact-form{margin-top:50px;text-align:left;}
#mobile-view .contact-form{text-align:center;}
#mobile-view #myModal{text-align:left;}
.contact-info-text{margin-top:50px;max-width:667px;text-align:left;font-size:18px;font-family:'BrandonGrotesque-Light';line-height:1.9;letter-spacing:0.05em;word-spacing:1px;}
.contact-info-text b{font-family:'BrandonGrotesque-Regular';}
#contact_id .page-heading{margin-left:0px;text-align:center;}
#contact_id .page-margin{margin-left:25px;}
button.close{float:none;opacity:1;font-size:3.5rem;font-weight:normal;font-family:'BrandonGrotesque-Light';color:inherit;}
button.close:hover{outline:none;}
fieldset{width:760px;max-width:100%;}
.modal-dialog{max-width:800px;}
.modal-dialog legend{text-align:center;font-size:20px;font-family:'BrandonGrotesque-Bold';padding-top:20px;padding-bottom:50px;letter-spacing:0.05em;}
.page_id .form-group.col-md-6{padding-left:15px;padding-right:15px;width:380px;max-width:100%;}
.modal-dialog .submit-button{display:flex;justify-content:center;width:100%;height:60px;}
.modal-dialog .submit-button span{color:#a55f60;font-size:15px;letter-spacing:0.045em;font-family:'BrandonGrotesque-Bold'}
.modal-dialog .submit-button span:hover{text-shadow:0px 4px 3px rgba(0,0,0,0.4),
0px 8px 13px rgba(0,0,0,0.1),
0px 18px 23px rgba(0,0,0,0.1);}
.modal-body{margin-top:200px;margin-bottom:200px;text-align:center;line-height:1;}
.modal-nice{font-size:19px;letter-spacing:0.05em;font-family:'BrandonGrotesque-Bold';}
.modal-value{font-size:20px;letter-spacing:0.05em;font-family:'BrandonGrotesque-Light';}
.modal-reply{font-size:16px;font-family:'BrandonGrotesque-LightItalic';}
.mobile-main-title{text-align:center;font-size:26px;font-family:'BrandonGrotesque-Bold';}
.raq-form{margin-top:50px;}
address{display:inline-block;margin-bottom:50px;letter-spacing:0.06em;font-family:'BrandonGrotesque-Light';}
address p{min-height:73px;}
address .btn.sharp{margin-bottom:0;margin-top:30px;-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;-ms-transition:all 200ms ease;transition:all 200ms ease;position:relative;text-decoration:none;display:inline-block;-webkit-transition-duration:0.4s;transition-duration:0.4s;cursor:pointer;}
address .btn.sharp:hover{box-shadow:0 10px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);}
.btn.sharp:focus{outline:none;}
address .text{padding-top:20px;max-width:268px;}
address strong{font-family:'BrandonGrotesque-Regular';font-size:18px;}
address button b{color:#a55f60;font-family:'BrandonGrotesque-Regular';letter-spacing:0.15em;font-size:14px;}
.raq-content{margin:10% 15% 0 15%;}
.raq-content h4{padding-bottom:40px;}
.raq-content{padding-bottom:10px;padding-top:30px;}
.raq-content p{font-size:14px;}
.leading-text{padding-bottom:30px;}
.intro-left2{position:relative;padding-left:5px;margin:1em;min-height:100px;}
.read-more-state{display:none;}
.read-more-target{opacity:0;max-height:0;font-size:0;-webkit-transition:.25s ease;-moz-transition:.25s ease;-o-transition:.25s ease;-ms-transition:.25s ease;transition:.25s ease;}
.read-more-state:checked ~ .read-more-target{opacity:1;font-size:inherit;max-height:999em;}
.read-more-state ~ .read-more-trigger:before{content:'SHOW MORE';}
.read-more-state:checked ~ .read-more-trigger:before{content:'SHOW LESS';}
@media only screen and (min-width:420px){.team_green-square{width:255px;}
#contact_id .page-heading{margin-left:40px;text-align:left;}
}
@media only screen and (min-width:500px){
  .values_green-circle{margin-left:75px;}
  .services_green-circle{margin-left:75px;}
}
@media only screen and (max-width:767px){.row{margin-left:0;margin-right:0;}
#mobile-view.container-fluid{padding:0;}
.content-left{height:100%;}
.founder-kid, .founder-edu,
.founder-expo, .founder-sitting,
.girls-game,
.founder-background-city,
.level2-titles-box-pic,
.level2-titles-box-founder,
.level2-titles-box-pic-bigger,
.level2-titles-box-pic-square{max-width:80%;padding-bottom:40px;}
.level2-titles-box-pic{max-height:319px;}
.rotated-links{letter-spacing:normal;}
#founder img.mobile{margin-left:20px;margin-top:20px;}
.founder-background-city{margin-top:40px;}
#founder p.lead, #values p.lead, #nameandlogo p.lead{font-size:1.5rem;}
.team-member-picture{margin-top:25px;margin-bottom:25px;}
.vision_picture{margin-top:50px;margin-bottom:50px;}
.values_compassion-section-margin,
.values_picture-compassion,
.values_picture-approach{margin-bottom:70px;}
.member_name{margin-top:40px;}
.page_id .submenu{width:calc(100vh - 50px);height:40px;padding-right:0;margin-top:50px;}
.intro-left-v{line-height:39px;}
.intro-content{margin-bottom:50px;}
.header{background-color:#dfeae1;height:50px;width:100vw;position:fixed;z-index:999;}
.litao_logo-black{width:100vw;height:50px;display:flex;align-items:center;justify-content:center;}
.litao_logo-black img{height:30px;width:auto;}
.level2-main-title{padding-top:50px;padding-bottom:30px;}
.level2-titles-box-margin, .mission_level2-titles-box-margin{margin-top:70px;}
#nav-toggle{top:15px;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{height:2px;width:22px;}
#nav-toggle span:before{top:-7px;}
#nav-toggle span:after{bottom:-7px;}
.col-xs-11{margin-left:20px;padding-right:1px;}
.col-md-6.mobile-img{text-align:center;}
#nameandlogo_id .level2-titles-box{margin-top:80px;}
#nameandlogo_id p.title, #nameandlogo_id p.title.second{margin-top:40px;}
.home-logo{margin-top:15%;}
address p{min-height:initial;}
#values_id img.mobile{position:relative;padding-right: 0;}
#experience_litao img.mobile{position:relative;margin-top: 0}
#experience_litao .content-image{margin-top: 0}
#experience_litao .level2-main-title{font-size: 34px;}
#recognitions .level2-main-title{font-size: 34px;}
#recognitions .level2-titles-box-line{width: 112px;}
#recognitions .level2-titles{font-size: 28px;}
.publication{margin-top:0;margin-left: 15px;margin-bottom:0;border:none;}
.publication_content{border:none;padding-bottom: 0;padding-top: 0;}
.publication_content p{padding-top: 40px;padding-bottom: 40px;}
.publication_title h4{margin-left:auto;font-size:14px;text-align: center; padding-left: 20px; padding-right: 20px;padding-bottom: 0}
#recognitions .mobile_collapse{border-style:dotted;border-color:black;border-width:1px;border-left:none;border-right:none;border-bottom:none;margin-left:-20px;margin-right:-20px;padding-right:25px;height: 95px;display: flex;align-items: center;background-color: #dfeae1;}
#recognitions .collapsable_plus {margin-bottom: .5rem;margin-left: auto;}
#recognitions .mobile_collapse:hover{cursor: pointer;}
#raq p.lead {padding-left: 0;}
#raq .folding-section_heading{margin-left: -5px;margin-right: -20px;  flex-direction: row-reverse;}
#raq .folding-section_heading_title{word-spacing: initial;letter-spacing: 0.05rem;margin-left: auto;margin-right: 0;}
#raq .collapsable_plus{margin-left: auto; margin-right: 5px;}
#raq .folding-section_content{margin-right: -20px; margin-left: 0; padding-bottom:0;}
#raq .folding-section_content h5{display: none;}
#raq .question-mark{display: none;}
#raq .folding-section_heading_title{font-size: 14px;  max-width: 280px;}
#useful_resources .chapter { margin-left:0;margin-right: 0; text-align: center;}
#useful_resources .chapter_title{font-size: 18px; text-align: left;}
#useful_resources .chapter_link {font-size: 14px;word-wrap: break-word;text-align: left;}
#useful_resources .collapsable_plus{padding: 20px;}
#useful_resources .chapter_content{text-align: justify;}
}
@media only screen and (min-width:768px){.border-vertical{display:block;height:100%;height:100vh;}
.home-logo{padding-bottom:5%;}
.home-arrow{visibility:hidden;position:absolute;bottom:5%;}
.carousel-inner>.carousel-item>img{object-fit:cover;width:50vw;height:100vh;}
.founder-column{margin:50px 0 0 130px;}
#team p.lead{font-size:22px;}
.team-picture{margin-top:-70px;}
.values_picture{margin-top:-200px;}
.member_bio{}
.page-heading{padding-top:2em;color:#595a5a;}
.chinabg-color{background-color:#dfeae1;}
/*.intro-img{width:70%;height:auto;}*/
#square{position:absolute;left:50%;top:50%;margin:-16% 0 0 -16%;z-index:0;width:38%;background:#dfeae1;}
#square:after{content:"";display:block;padding-bottom:100%;}
#rectangle{position:absolute;left:13%;top:10%;margin:0 0 0 0;z-index:0;width:76%;height:83%;background:#f6f3f0;}
#circle{position:absolute;left:50%;top:50%;margin:-20% 0 0 -20%;z-index:0;width:40%;background:#dfeae1;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
#circle:after{content:"";display:block;padding-bottom:100%;}
#triangle-topleft{position:absolute;top:0;width:0;height:0;z-index:0;border-top:125vh solid #dfeae1;border-right:26vw solid transparent;}
.intro-column{margin:15% 20% 0 20%;}
.intro-content{line-height:20px;}
.level2-titles-box-padding{margin:36px 0 105px 0;}
.level2-titles-box-pic{max-height:420px;}
.side-text-padding{padding-top:120px;}
.side-text-padding-2{padding-top:83px;}
.side-date-padding{padding-top:160px;}
.girls-game{position:absolute;z-index:-2;margin-left:0px;padding-right:127px;top:-240px;}
.founder-edu{padding-right:93px;margin-bottom:80px;}
.founder-kid, .founder-expo{position:relative;z-index:-2;float:right;}
.founder-kid{margin-top:135px;}
.move-up-1{position:relative;top:-115px;height:180px;}
.move-up-2{position:relative;top:-120px;}
.move-up-3{position:relative;top:-120px;height:280px;}
.move-up-4{position:relative;top:-130px;}
.move-up-5{position:relative;top:-238px;}
.move-up-6{position:relative;top:-60px;}
.move-up-7{position:relative;top:-30px;}
.move-up-8{position:relative;top:-211px;}
.move-up-9{position:relative;top:-200px;}
.member-section{margin-top:120px;}
.first_member-section{margin-top:150px;margin-bottom:40px;}
.side-border{width:62px;}
#recognitions{padding-right:92px;}
.publication_content p{margin-left: 180px;display: block;}
.lithuanian-section,.english-section,.chinese-section,.conferences-section, .lina_c-section{ padding-left: 86px;}
.page_id .col-md-6{padding-left:92px;padding-right:0px;}
}
@media only screen and (min-width:992px){.intro-column{margin:5% 24% 0 24%;}
.intro-content{line-height:25px;}
.page_id .section{padding-top:70px;line-height:1.1;}
.section{text-align:left;}
/*.page_id .col-md-6{padding-left:92px;padding-right:0px;}*/
.side-border{width:95px;}
.level2-main-title{font-family:'BrandonGrotesque-Bold';margin-bottom:0px;color:#a55f60;font-size:45px;letter-spacing:3px;text-transform:uppercase;}
.level2-titles-box-margin{margin-bottom:60px;}
.level2-titles-box{margin:106px 0 94px 0;}
.level2-titles-box-padding{margin:36px 0 105px 0;}
.level2-titles-box-line{position:absolute;height:auto;width:127px;}
.level2-titles-box-pic,
.level2-titles-box-pic-bigger{position:absolute;z-index:-1;width:337px;height:auto;margin-left:64px;margin-top:29px;}
.level2-titles-box-pic-bigger{width:400px;height:490px;}
.level2-titles-box-founder{position:absolute;z-index:-2;width:634px;height:auto;margin-left:250px;margin-top:2px;}
.level2-titles{font-family:'BrandonGrotesque-Bold';font-size:35px;letter-spacing:2px;padding-top:42px;}
.founder-content, .name_content,
.our_guanxi-content, .experience_litao-content{font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;text-align:justify;line-height:1.5;margin-right:50px;}
.founder-content b, .our_guanxi-content b,
.experience_litao-content b,
.experience_litao-content_break b,
.experience_litao-list b{font-family:'BrandonGrotesque-Regular';letter-spacing:0.05em;}
#founder p.lead{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:29px;padding-right:106px;line-height:1.2;}
.calendar-date{height:110px;margin-bottom:17px;}
.calendar-pic{position:absolute;z-index:-1;height:81px;width:auto;padding-left:25px;}
.dot{position:absolute;}
.date ,.title-date{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:22px;letter-spacing:0.09em;display:inline-block;margin-top:36px;margin-left:4px;}
.title-date{margin-top:-8px;}
.side-text-padding{padding-top:182px;}
.side-text-padding-2{padding-top:83px;}
.girls-game{margin-left:-40px;}
.team_green-square{width:300px;}
.page_id .form-group.col-md-6{padding-bottom:30px;}
.experience_litao-list, .experience_litao-content_break{margin-right: 50px;}
.publication_content p{margin-left: 250px;}
}
@media only screen and (min-width:1200px){.page_id .section{padding-top:70px;line-height:1.1;padding-bottom:70px;}
.section{text-align:left;}
.page_id .col-md-6{padding-left:92px;}
.level2-main-title{font-family:'BrandonGrotesque-Bold';margin-bottom:0px;color:#a55f60;font-size:45px;letter-spacing:3px;text-transform:uppercase;}
.level2-titles-box-margin{margin-bottom:80px;}
.level2-titles-box{margin:106px 0 94px 0;}
.level2-titles-box-padding{margin:36px 0 105px 0;}
.level2-titles-box-line{position:absolute;height:auto;width:127px;}
.level2-titles-box-pic{max-height:100%;}
.level2-titles-box-pic,
.level2-titles-box-pic-bigger{position:absolute;z-index:-1;width:337px;height:auto;margin-left:64px;margin-top:29px;}
.level2-titles-box-pic-bigger{width:400px;height:490px;}
.level2-titles-box-founder{position:absolute;z-index:-2;width:634px;height:auto;margin-left:250px;margin-top:2px;}
.level2-titles{font-family:'BrandonGrotesque-Bold';font-size:35px;letter-spacing:2px;padding-top:42px;max-width:500px;}
.founder-content, .name_content,
.our_guanxi-content, .experience_litao-content{font-family:'BrandonGrotesque-Light';font-size:16px;letter-spacing:0.05em;text-align:justify;line-height:1.5;margin-right:86px;max-width:370px;padding-bottom:55px;}
.founder-content b, .our_guanxi-content b,
.experience_litao-content b{font-family:'BrandonGrotesque-Regular';letter-spacing:0.05em;}
#founder p.lead{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:29px;padding-right:106px;max-width:500px;}
.calendar-date{height:110px;margin-bottom:20px;}
.calendar-pic{position:absolute;z-index:-1;height:81px;width:auto;padding-left:25px;}
.date ,.title-date{font-family:'BrandonGrotesque-Bold';color:#a55f60;font-size:22px;letter-spacing:0.09em;display:inline-block;margin-top:36px;margin-left:4px;}
.title-date{margin-top:-8px;}
.side-text-padding{padding-top:110px;}
.side-text-padding-2{padding-top:83px;}
.founder-sitting{padding-right:15px;}
.girls-game{margin-left:-92px;}
.move-up-1{position:relative;top:-135px;height:180px;}
.move-up-2{position:relative;top:-130px;height:155px;}
.move-up-3{position:relative;top:-120px;height:280px;}
.move-up-4{position:relative;top:-130px;}
.move-up{position:absolute;top:-200px;}
#nameandlogo .name_content{padding-bottom:20px;}
.experience_litao-list, .experience_litao-content_break{margin-right: 86px;}
.publication_content p{padding-right: 40px;}
}
@media only screen and (min-width:1600px){.level2-titles-box-pic-bigger{width:500px;height:590px;}
.level2-titles-box-pic{width:400px;height:auto;}
.level2-titles-box-founder{width:800px;height:auto;}
}
@media only screen and (min-width:2000px){.rotated-links{font-size:18px;}
.level2-titles-box-founder{width:900px;height:auto;}
}
.visible{visibility:visible;}
.animated{-webkit-animation-duration:2s;-moz-animation-duration:2s;animation-duration:2s;-webkit-animation-delay:0s;-moz-animation-delay:0s;animation-delay:0s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;}
.animated2{-webkit-animation-duration:0.8s;-moz-animation-duration:0.8s;animation-duration:0.8s;-webkit-animation-delay:0.8s;-moz-animation-delay:0.8s;animation-delay:0.8s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;}
.animated3{-webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;-webkit-animation-delay:0.8s;-moz-animation-delay:0.8s;animation-delay:0.8s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;}
.animated4{-webkit-animation-duration:3s;-moz-animation-duration:3s;animation-duration:3s;-webkit-animation-delay:0.8s;-moz-animation-delay:0.8s;animation-delay:0.8s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;}
.animated5{-webkit-animation-duration:0.2s;-moz-animation-duration:0.2s;animation-duration:0.2s;}
.animated-fast1{-webkit-animation-duration:0.3s;-moz-animation-duration:0.3s;animation-duration:0.3s;}
.animated-fast2{-webkit-animation-duration:0.4s;-moz-animation-duration:0.4s;animation-duration:0.4s;}
.animated-fast3{-webkit-animation-duration:0.5s;-moz-animation-duration:0.5s;animation-duration:0.5s;}
.animated-fast4{-webkit-animation-duration:0.6s;-moz-animation-duration:0.6s;animation-duration:0.6s;}
.animated-fast5{-webkit-animation-duration:0.7s;-moz-animation-duration:0.7s;animation-duration:0.7s;}
