body{
  background-color: #f6f3f0;
  margin: 0;
  color: #595a5a;
  height: 100%;
  text-align: center;
  font-family: 'BrandonGrotesque-Regular', Arial, sans-serif;
  font-size: 16px;
}


a{
  text-decoration:none;
  color:#595a5a;
}
a:active,a:hover,a:focus{
  text-decoration: none;
  outline:0;
  color:#595a5a;
}

ul {
  list-style: none;
}
h6 {
  text-align: center;
  font-size: 12px;
}
section {
  height: 100%;
  height: 100vh;
}

.padding-0 {
  padding: 0;
}
.margin-0{
  margin:0;
}
.color-green {
  background-color: #dfeae1;
}
.color-white {
  background-color: #fff;
}
.color-grey {
  background-color: #f6f3f0;
}
.color-red {
  color: #a55f60;
}
.color-red-underline {
  color: #ba8e8c;
}

/*header */
.page-heading{
  padding-top: 10%;
  color: #a55f60;
  padding-bottom: 10%;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index:1000;
  position:fixed;
  top:20px;
  left:15px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #595a5a;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.closer span:before {
  top: -7px;
}
#nav-toggle.closer span:after {
  bottom: -7px;
}
#nav-toggle.closer span:before, #nav-toggle.closer span:after {
  -webkit-transition:all 100ms ease;
  -moz-transition:all 100ms ease;
  -o-transition:all 100ms ease;
  -ms-transition:all 100ms ease;
  transition:all 100ms ease;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  -ms-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #cccbc5;
}
#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #cccbc5;
}

#nav-toggle.active span:hover:before{
  background: #a55f60;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#nav-toggle.active span:hover:after{
  background: #a55f60;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/* The side navigation menu */
.sidenav{
  display: table;
  visibility: hidden;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: 5%;
  background-color: #f6f3f0; /* grey*/
  overflow: hidden; /* Disable horizontal scroll */
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.sidenav-side{
  /*display: table;*/
  visibility: hidden;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  right:95%;
  background-color: #f6f3f0; /* grey*/
  overflow: hidden; /* Disable horizontal scroll */
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.sidenav-links {
  display: table-cell;
  vertical-align: middle;
  font-family: 'BrandonGrotesque-Bold';
  letter-spacing: 1.5px;
  text-align: center;
}

/* The navigation menu links */

.sidenav  a {
  color: #cccbc5;
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;

}
.sidenav a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .5s ease;
}
.sidenav a:hover{
  color: #a55f60 ;
}
.sidenav .active {
 color: #a55f60 ;
}
.sidenav .select-submenu:after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #a55f60 ;
  transition: width .8s ease, background-color .5s ease;
}

.sidenav a:hover:after {
  width: 100%;
  background: #a55f60 ;
}
/* submenu links */
.submenu {
  width:100vh;
  height:45px;
  top: 40px ;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);

}

 .intro-left-v{
  float:right;
  height:100%;
  line-height:55px;
  margin-right:40px;
}

.border_link {
  color: #cccbc5;
  font-size: 12px;
  letter-spacing: 1px;
    opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.rotated-links {
  color: #cccbc5;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

/*languages---------------------------------------------*/
.header-lang{
  position:fixed;
  top:20px;
  right:30px;
  margin-bottom:0;
  z-index:2 ;
}
.header-lang-item{
  float:left;
  padding-right: 0px;
  padding-left: 0px;
}

.header-lang-link{
  display:block;
  width:30px;
  height:30px;
  line-height:2.5em;
  text-transform:uppercase;
  border:1px solid #5a5b5b;
  margin-right: -1px;
  margin-top: -1px;
  font-size: 12px;
}

.header-lang-link.active{
  color:#595a5a;
  border:0px solid #595a5a;
  font-family: 'BrandonGrotesque-Bold';
}
.header-lang-text{
  display:block;
  text-align:center;
}
.header-lang-text:hover,.header-lang-text:active{
  font-family: 'BrandonGrotesque-Bold';
}


/*-----header----*/

/*borders*/
.border, .border-fixed {
  font-family: 'BrandonGrotesque-Regular';
  font-size: 11px;
  /*visibility: hidden;*/
}
.border-fixed {
  position: fixed;
}

/*-----/borders---*/

/*level1*/

.slash{
  height: auto;
  width: auto;
  position: absolute;
  z-index: 5;
  margin-left: -14px;
  top:50%;
  left: 100%;
  margin-top:-33px;
}

.slash2{
  height: auto;
  width: auto;
  position: absolute;
  z-index: 5;
  margin-right: -14px;
  top:50%;
  right: 100%;
  margin-top:-33px;
}

.mobile-content {
  height: 50vh;
}
.home-logo{
  padding-bottom: 10%;
 /* margin-top: 15%;*/
  padding-left: 7%;
}
.home-intro {
  margin-top: 5%;
}

.home-arrow {
  height: auto;
  width: auto;
}

.home-text {
 font-family: 'BrandonGrotesque-Light';
 font-size: 20px;
}
.carousel-inner>.carousel-item>img {
  width: 100%;
  height: auto;
}

.about-china-img{
  background: url('../home-images/china-lamp.jpg');
  background-size: cover;
}
/*-----level1----*/

/*------intro----*/

.intro-column {
 margin: 20% 15% 0 15%;
}
.intro-title {
  font-size: 16px;
  margin: 50px 0 50px 20px;
  font-family: 'BrandonGrotesque-Bold';
}
.intro-content {
  position:relative;
  z-index:1;
  font-family: 'BrandonGrotesque-Light';
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 50px;
}
.intro-img {
  width: 80%;
  height: auto;
  padding-top: 5%;
  padding-bottom:5%;
}
.title-img{
  visibility: hidden;
  position:relative;
  width: 50%;
  right: 25%;
  top: 50%;
}
.visible {
  visibility: visible;
}
.citate{
  font-size: 18px;
    font-family: 'BrandonGrotesque-Regular';
}
.citated{
  color:  #a55f60;
  font-size: 13px;
}

/*-----------level2---------*/
.side-border{
  height: 100vh;
}
.level2-logo {
  margin: 5px 0 10px 50px;
  height: 40px;
  padding-left: 10px;
}
.founder-img{
  padding-left: 100px;
  padding-right: 100px;
}
.founder-title {
  font-size: 18px;
  margin: 50px 0 50px 100px;
  font-family: 'BrandonGrotesque-Bold';
}
.founder.column{
  margin: 50px 30px 0 30px;
}


/*--------contact&raq-------*/
.btn.sharp {
  border-radius:0;
  background:#dfeae1;
  border: 0 none;
}
.contact-form{
  margin-top: 50px;
}
.raq-form{
  margin-top: 50px;
}
address {
  margin: 10% 15% 15% 15%;
}
.raq-content {
  margin: 10% 15% 0 15%;
}
.raq-content h4 {
  padding-bottom: 40px;
}
.raq-content h5 {
  padding-bottom: 10px;
  padding-top: 30px;
}
.raq-content p {
  font-size: 14px;
}

.leading-text {
  padding-bottom: 30px;
}

.intro-left2 {
  position: relative;
  padding-left:5px;
  margin:1em;
  min-height:100px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'SHOW MORE';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'SHOW LESS';
}

/******************************/
@media only screen and (max-width: 767px){
  .carousel-inner {
    height: 50vh;
  }
  .row {
    margin: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .content-left{
    height: 100%;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .border-vertical {
    /*position:fixed;*/
    display:block;
    height: 100%;
    height: 100vh;
  }
  .home-logo{
    padding-bottom: 5%;
  }
  .home-arrow {
    position:absolute;
    bottom:5%;
  }

  .carousel-inner>.carousel-item>img {
  width: 100vw;
  height: 100vh;
}
  .founder-column {
    margin: 50px 0 0 130px;
  }

  .page-heading{
    padding-top: 2em;
    color: #595a5a ;
  }
  .chinabg-color{
    background-color: #dfeae1;
  }
  .intro-img {
    width: 70%;
    height: auto;
  }
  #square{
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -16% 0 0 -16%;
    z-index:0;
    width: 38%;
    background: #dfeae1;
  }
  #square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #rectangle {
    position: absolute;
    left: 13%;
    top: 10%;
    margin: 0 0 0 0;
    z-index: 0;
    width: 76%;
    height: 83%;
    background: #f6f3f0;
  }
  #circle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20% 0 0 -20%;
    z-index:0;
    width: 40%;
    background: #dfeae1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  #circle:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #triangle-topleft {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    z-index: 0;
    border-top: 125vh solid #dfeae1;
    border-right: 26vw solid transparent;
  }
  .intro-column {
    margin: 15% 20% 0 20%;
  }
  .intro-content {
    line-height: 20px;
  }
  .contact-form{
    margin-top: 200px;
  }
  address {
    padding-left: 80px;
    padding-right: 50px;
    margin: 0;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   .intro-column {
    margin: 5% 24% 0 24%;
  }
  .intro-content {
    line-height: 25px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/******************************/
.animated {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated2 {
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated3 {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated4 {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated5{
   -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
