body{
  background-color: #f6f3f0;
  margin: 0;
  color: #595a5a;
  height: 100%;
  text-align: center;
  font-family: 'BrandonGrotesque-Regular', Arial, sans-serif;
  font-size: 16px;
}

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1050px) {

  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }

}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
}

a{
  text-decoration:none;
  color:#595a5a;
}
a:active,a:hover,a:focus{
  text-decoration: none;
  outline:0;
  color:#595a5a;
}

ul {
  list-style: none;
}
h6 {
  text-align: center;
  font-size: 12px;
}
section {
  height: 100%;
  height: 100vh;
}

.padding-0 {
  padding: 0;
}
.margin-0{
  margin:0;
}
.color-green {
  background-color: #dfeae1;
}
.color-white {
  background-color: #fff;
}
.color-grey {
  background-color: #f6f3f0;
}
.color-red {
  color: #a55f60;
}
.color-red-underline {
  color: #ba8e8c;
}
.container-i.col-xs-12{
  padding-left:0;
  padding-right: 0;
}
/*header */
.page-heading{
  padding-top: 2em;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  z-index:1000;
  position:fixed;
  top:20px;
  left:15px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #595a5a;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.closer span:before {
  top: -7px;
}
#nav-toggle.closer span:after {
  bottom: -7px;
}
#nav-toggle.closer span:before, #nav-toggle.closer span:after {
  -webkit-transition:all 100ms ease;
  -moz-transition:all 100ms ease;
  -o-transition:all 100ms ease;
  -ms-transition:all 100ms ease;
  transition:all 100ms ease;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  -webkit-transition:all 200ms ease-in-out;
  -moz-transition:all 200ms ease-in-out;
  -o-transition:all 200ms ease-in-out;
  -ms-transition:all 200ms ease-in-out;
  transition:all 200ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: #cccbc5;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: #cccbc5;
}

#nav-toggle.active span:hover:before{
  background: #a55f60;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#nav-toggle.active span:hover:after{
  background: #a55f60; /*should be grey 20%*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/* The side navigation menu */
.sidenav{
  display: table;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  left: 5%;
  background-color: #f6f3f0; /* grey*/
  overflow: hidden; /* Disable horizontal scroll */
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.sidenav-side{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0;
  right:95%;
  background-color: #f6f3f0; /* grey*/
  overflow: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px;*/ /* Place content 60px from the top */
  /* transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.sidenav-links {
  display: table-cell;
  vertical-align: middle;
  font-family: 'BrandonGrotesque-Black';
  text-align: center;
}

/* The navigation menu links */

.sidenav  a {
  color: #cccbc5;
  display: inline-block;
  padding-bottom: 3%;
  padding-top: 3%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;

}
.sidenav a:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .5s ease;
}
.sidenav a:hover{
  color: #a55f60 ;
}
.sidenav .active {
 color: #a55f60 ;
}
.sidenav .active:after{
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #a55f60 ;
  transition: width .8s ease, background-color .5s ease;

}
.sidenav a:hover:after {
  width: 100%;
  background: #a55f60 ;
}


/*languages---------------------------------------------*/
.header-lang{
  position:fixed;
  top:20px;
  right:30px;
  margin-bottom:0;
  z-index:2 ;
}
.header-lang-item{
  float:left;
  padding-right: 0px;
  padding-left: 0px;
}

.header-lang-link{
  display:block;
  width:30px;
  height:30px;
  line-height:2.5em;
  text-transform:uppercase;
  border:1px solid #5a5b5b;
  margin-right: -1px;
  margin-top: -1px;
  font-size: 12px;
}

.header-lang-link.active{
  color:#595a5a;
  border:0px solid #595a5a;
  font-family: 'BrandonGrotesque-Bold';
}
.header-lang-text{
  display:block;
  text-align:center;
}
.header-lang-text:hover,.header-lang-text:active{
  font-family: 'BrandonGrotesque-Bold';
}


/*-----header----*/

/*borders*/

.border, .border-fixed {
  font-family: 'BrandonGrotesque-Regular';
  font-size: 11px;
  /*visibility: hidden;*/
}
.border-fixed {
  position: fixed;

}
.border-intro, .border-why_us {
  height: 60px;
  transform-origin: top left;
  position: relative;
  top: 100%;
  transform: rotate(-90deg);
  border-bottom:1px solid #595a5a;
  padding-right: 10vh;
}
.intro-left-border {
  margin-top: 10px;
  padding-left: 0;
}
.border-vertical {
  /*border-right:1px solid #d7d8d3;*/
}
.border-vertical-r {
  border-left:1px solid #595a5a;
}
.vertical-left-border {
  padding-top:150px;
  width: 150px;
  padding-left: 0px;
}
.vertical-right-border {
  margin-top:150px;
  width: 150px;
}
.intro-left-v{
  margin:20px 0 20px 0;
  /*text-align: center;*/
}
.border_link{
  color:#cccbc5; /*should be grey 20%*/
}
.border_link.active{
  color: #595a5a;
}
.border-left,.border-right{display:none;}
@media only screen and (min-width: 540px){
  .border-left,.border-right,.border-vertical{
    /*position:fixed;*/
    display:block;
    height: 100%;
    height: 100vh;
  }
  .border-left,.border-right{

   /* z-index:96 ;*/
   /*width:40px;*/
 }
 .border-left{
  left:20px;
  -moz-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  transform:translateX(-100%);
}
.border-right{
  right:0;
  -moz-transform:translateX(100%);
  -ms-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
}
.border__link.left{
  position:absolute;
  top:50%;
  -moz-transform:translate3d(0, -50%, 0);
  -webkit-transform:translate3d(0, -50%, 0);
  transform:translate3d(0, -50%, 0);
  display:block;
  width:200px;
  height: 60px;
  margin-top:100px;
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform:rotate(-90deg);
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style:preserve-3d;
  text-align:center;
  font-size:14px;
  line-height:60px;
  text-transform:uppercase;
  color:#595a5a;
}
.border__link.right{
  position:absolute;
  top:50%;
  -moz-transform:translate3d(0, 50%, 0);
  -webkit-transform:translate3d(0, 50%, 0);
  transform:translate3d(0, 50%, 0);
  display:block;
  width:200px;
  height: 60px;
  margin-top:-100px;
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-backface-visibility:hidden;
  -webkit-transform-style:preserve-3d;
  text-align:center;
  font-size:14px;
  /*line-height:60px;*/
  text-transform:uppercase;
  color:#595a5a;
}
.border__link:hover{
  bottom:50%;
  -moz-transition:bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -o-transition:bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  -webkit-transition:bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay:0s;
  transition:bottom 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
}

@media only screen and (min-width: 1025px){
  .border__link{
    line-height:80px;
  }
}
@media only screen and (min-width: 540px){
  .border-left, .border-right{
    width:60px;
  }
}
/*-----/borders---*/

/*level1*/

.level1-white{
  overflow: hidden;
}
.content-left, .content-right{
 /*height: 525px;*/
}


.container-i {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 550px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
}

.home-logo{
  margin-top: 20%;
  padding-bottom: 20px;
}

.home-intro {
  margin-top: 5%;
}

/*.home-slash {
  margin-top: 25px;
  height: 30px;
  }*/
  .home-arrow {
    margin-top: 10%;
    height: 50px;
  }

  .home-text {
   font-family: 'BrandonGrotesque-Light';
   font-size: 20px;
   margin-bottom: 20%;
  }

  .carousel{
    background: url('../home-images/home.png');
    background-size: cover;
  }
  .about-china-img{
    background: url('../home-images/china-lamp.jpg');
    background-size: cover;
  }

  .level1-white img {
    width: 100%;
    position: center;
  }
  @media only screen and (min-width: 540px){
    .home-logo{
      margin-top: 20%;
      padding-bottom: 20px;
    }
  }
  /*-----level1----*/

  /*------intro----*/

  .intro {
    /*padding-left: 75px;*/
  }
  .content-padding{
    /*padding-left: 0px;
    margin-top: 150px;*/
  }
  .intro .right , .level-2 .left, .level-2 .right{
    /*height: 100vh;*/
    padding: 0;
  }
  .left, .right {
  }
  .intro-logo {
    margin: 10px 0 10px 0;
    height: 40px;
    padding-left: 10px;
    /*z-index:96;*/
  }
  .intro-column {
    margin: 50px 30px 0 30px;
  }
  .intro-title {
    font-size: 16px;
    margin: 50px 0 50px 20px;
    font-family: 'BrandonGrotesque-Bold';
  }
  .intro-content {
    position:relative;
    z-index:1;
    font-family: 'BrandonGrotesque-Light';
    font-size: 16px;
    margin-top: 50px;
  }
  .intro-img {
  }
  .title-img{
    position:relative;
    width: 50%;
  }
  #square{
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -15% 0 0 -15%;
    z-index:0;
    width: 30%;
    background: #dfeae1;
  }
  #square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
  #rectangle {
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -38% 0 0 -35%;
    z-index:0;
    width: 70%;
    background: #f6f3f0;
  }
  #rectangle:after {
  content: "";
  display: block;
  padding-bottom: 110%;
}
  #circle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15% 0 0 -15%;
    z-index:0;
    width: 30%;
    background: #dfeae1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  #circle:after{
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  #triangle-topleft {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 800px solid #dfeae1;
    border-right: 300px solid transparent;
  }

  @media only screen and (min-width: 720px){
    .intro-column {
      margin: 0px 20% 0 20%;
    }
    .intro-content {
      margin-top: 50px;
    }
    .intro-img {
      width: 60%;
    }
  }
  /*-----------level2---------*/
  .level2-logo {
    margin: 5px 0 10px 50px;
    height: 40px;
    padding-left: 10px;
    /*z-index:96;*/
  }
  .founder-img{
    padding-left: 100px;
    padding-right: 100px;
  }
  .founder-title {
    font-size: 18px;
    margin: 50px 0 50px 100px;
    font-family: 'BrandonGrotesque-Bold';
  }
  .founder.column{
    margin: 50px 30px 0 30px;
  }
  .level-2 .col-md-1 {
    visibility: hidden;
    height: 0;
  }
  @media only screen and (min-width: 720px){
    .founder-column {
      margin: 50px 0 0 130px;
    }
    .level-2 .col-md-1 {
      visibility: visible;
      height: 100vh;
    }
  }
  /*--------contact&raq-------*/
  .btn.sharp {
    border-radius:0;
    background:#dfeae1;
    border: 0 none;
  }
  .contact-form{
    margin-top: 200px;
  }
  address {
    padding-left: 80px;
    padding-right: 50px;
  }
  .raq-content {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 60px;
  }
  .raq-content h4 {
    padding-bottom: 40px;
  }
  .raq-content h5 {
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .raq-content p {
    font-size: 14px;
  }
  .leading-text {
    padding-bottom: 30px;
  }

  .intro-left2 {
    position: relative;
    padding-left:5px;
    margin:1em;
    min-height:100px;
  }

/*.border-text2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  left: -20px;
  top: 100px;
  font-size: 10px;
}
*/

.revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
}
.revealer--right,
.revealer--left {
  top: 50%;
  left: 50%;
}
.revealer__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ddd;
}
.anim--effect-3 .page:nth-child(2) {
  background: #F3A3D3;
}

.anim--effect-3 .revealer--animate .revealer__layer {
  animation: anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
  animation-name: anim-effect-3-2;
}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
  animation-name: anim-effect-3-3;
}

@keyframes anim-effect-3-1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25%, 75% {
    transform: translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  100% {
    transform: translate3d(0, -200%, 0);
  }
}

@keyframes anim-effect-3-2 {
  0%, 12.5% {
    transform: translate3d(0, 0, 0);
  }
  37.5%, 62.5% {
    transform: translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  87.5%, 100% {
    transform: translate3d(0, -200%, 0);
  }
}

@keyframes anim-effect-3-3 {
  0%, 25% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  75%, 100% {
    transform: translate3d(0, -200%, 0);
  }
}
 /******************************/
 .animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
   -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
 .animated2 {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated3 {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}



 @-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
